/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
    background-color: #F8F8F8;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 12px;
}

#container {
    margin: 10px auto;
    width: 900px;
    background-color: white;
    padding: 3px;
}
table {
  width: 50%;
}

thead{
	background-color: #D0D0D0;
	text-align: left;
}
th{
	text-align: left;
}

.buttons{
    background: #eee url(path/to/apply.png) no-repeat 0 50%;
    min-width: 150px;
} 
.extraNav{
    position: absolute;
	right: 10px;
	top: 5px;
} 
.extraNav input{
	min-width:150px;
}
#header{
	clear: both;
	height:70px;
}
#headerLogo{
	width:50px;
	height:50px
}
#headerH1{
	display: inline;
	margin-left: 5px;
	font-size:40px;
}
#headerPanel{
	width:100%;
	heigth: 40px;
	layout:block;
}
#left_sidebar{
	float: left;
	min-height:70%;
}
#content{
	float: right;
	width: calc(100% - 200px);
	min-height:100%; 
	height: 100%;
}
#footer{
	clear: both;
	background-color:grey;
	height: 80px;
}
#wrapper {
	position:absolute;
	width: 100%;
	margin: 0 auto;
	min-height:90%; 
	height: 90%; 
}

